[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "gitflow"]
	path = gitflow
	url = https://github.com/datasift/gitflow
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-wombat256mod"]
	path = vim/bundle/vim-wombat256mod
	url = https://github.com/michalbachowski/vim-wombat256mod.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "Wombat-256-for-Xcode"]
	path = Wombat-256-for-Xcode
	url = https://github.com/zachallett/Wombat-256-for-Xcode.git
[submodule "vim/bundle/julia-vim"]
	path = vim/bundle/julia-vim
	url = git://github.com/JuliaLang/julia-vim.git
[submodule "vim/bundle/vim-operator-user"]
	path = vim/bundle/vim-operator-user
	url = https://github.com/kana/vim-operator-user
[submodule "vim/bundle/vim-yapf-format"]
	path = vim/bundle/vim-yapf-format
	url = git://github.com/pignacio/vim-yapf-format
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-operator-flashy"]
	path = vim/bundle/vim-operator-flashy
	url = https://github.com/haya14busa/vim-operator-flashy
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/jedi-vim"]
	path = vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
